extras/Sample workflow definitions/prc.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Catch": {
        "type": "Scope",
        "actions": {
          "Dead-letter_claim-check_message_in_queue": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "messageId": "@triggerBody()?['messageId']",
                "deadLetterReason": "An error occurred in logic app @{workflow()['name']}."
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBus",
                "operationId": "deadLetterMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Remove_inputs_property_from_errors": [
                "SUCCEEDED"
              ]
            }
          },
          "Filter_errors": {
            "type": "Query",
            "inputs": {
              "from": "@result('Try')",
              "where": "@equals(item()['status'], 'Failed')"
            }
          },
          "Remove_inputs_property_from_errors": {
            "type": "Select",
            "description": "Input data of an action may contain the actual message that is being processed. We remove it because Log Analytics has a max size for messages.",
            "inputs": {
              "from": "@body('Filter_errors')",
              "select": "@removeProperty(item(), 'inputs')"
            },
            "runAfter": {
              "Filter_errors": [
                "Succeeded"
              ]
            }
          },
          "Send_failed_tracked_properties_to_log_analytics": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "referenceName": "azureloganalyticsdatacollector"
                }
              },
              "method": "post",
              "body": "{\r\n    \"ProcessStep\": 2,\r\n    \"LogicAppName\": \"@{workflow()['name']}\",\r\n    \"ParentLogicAppName\": \"@{triggerBody()?['contentData']?['sender']}\",\r\n    \"WorkflowRunId\": \"@{workflow()['run']['name']}\",\r\n    \"CorrelationId\": \"@{variables('correlationId')}\",\r\n    \"CustomTrackedPropertyToLog\": \"someValue\",\r\n    \"Status\": \"Failed\",\r\n    \"ErrorMessage\": \"@{variables('errorMessage')}\",\r\n    \"ErrorMessageDetails\": @{outputs('Remove_inputs_property_from_errors')},\r\n    \"DateTime\": \"@{utcNow()}\"\r\n}",
              "headers": {
                "Log-Type": "demoWorkload",
                "time-generated-field": "@{utcNow()}"
              },
              "path": "/api/logs"
            },
            "runAfter": {
              "Dead-letter_claim-check_message_in_queue": [
                "SUCCEEDED"
              ]
            },
            "trackedProperties": "@json(action().inputs.body)"
          },
          "Terminate": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "message": "@variables('errorMessage')"
              }
            },
            "runAfter": {
              "Send_failed_tracked_properties_to_log_analytics": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "Try": [
            "FAILED",
            "TIMEDOUT"
          ]
        }
      },
      "Initialize_variable_correlationId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "correlationId",
              "type": "string",
              "value": "@triggerBody()?['correlationId']"
            }
          ]
        },
        "runAfter": {}
      },
      "Initialize_variable_errorMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "errorMessage",
              "type": "string",
              "value": "An error has occured."
            }
          ]
        },
        "runAfter": {
          "Initialize_variable_correlationId": [
            "SUCCEEDED"
          ]
        }
      },
      "Try": {
        "type": "Scope",
        "actions": {
          "Complete_claim-check_message_in_queue": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "messageId": "@triggerBody()?['messageId']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBus",
                "operationId": "completeMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Send_claim-check_message_to_queue": [
                "SUCCEEDED"
              ]
            }
          },
          "Retrieve_message_payload_from_storage": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "containerName": "demoworkload",
                "blobName": "@triggerBody()?['contentData']?['fileLocation']",
                "inferContentType": true
              },
              "serviceProviderConfiguration": {
                "connectionName": "AzureBlob",
                "operationId": "readBlob",
                "serviceProviderId": "/serviceProviders/AzureBlob"
              }
            }
          },
          "Send_claim-check_message_to_queue": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "entityName": "sbq-targetsystem-datatype-in",
                "message": {
                  "contentData": {
                    "fileLocation": "@{body('Write_message_payload_to_storage')?['properties']?['blobPath']}",
                    "sender": "@{workflow()['name']}"
                  },
                  "contentType": "application/json",
                  "userProperties": {
                    "messageType": "demoMessageType"
                  },
                  "correlationId": "@variables('correlationId')"
                }
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBus",
                "operationId": "sendMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Write_message_payload_to_storage": [
                "SUCCEEDED"
              ]
            }
          },
          "Send_success_tracked_properties_to_log_analytics": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "referenceName": "azureloganalyticsdatacollector"
                }
              },
              "method": "post",
              "body": "{\r\n    \"ProcessStep\": 2,\r\n    \"LogicAppName\": \"@{workflow()['name']}\",\r\n    \"ParentLogicAppName\": \"@{triggerBody()?['contentData']?['sender']}\",\r\n    \"WorkflowRunId\": \"@{workflow()['run']['name']}\",\r\n    \"CorrelationId\": \"@{variables('correlationId')}\",\r\n    \"CustomTrackedPropertyToLog\": \"someValue\",\r\n    \"Status\": \"Succeeded\",\r\n    \"ErrorMessage\": null,\r\n    \"DateTime\": \"@{utcNow()}\"\r\n}",
              "headers": {
                "Log-Type": "demoWorkload",
                "time-generated-field": "@{utcNow()}"
              },
              "path": "/api/logs"
            },
            "runAfter": {
              "Complete_claim-check_message_in_queue": [
                "SUCCEEDED"
              ]
            },
            "trackedProperties": "@json(action().inputs.body)"
          },
          "Transform_source_data_type_to_target_data_type": {
            "type": "Liquid",
            "kind": "JsonToText",
            "inputs": {
              "content": "@body('Retrieve_message_payload_from_storage')?['content']",
              "map": {
                "source": "LogicApp",
                "name": "source.datatype.to.target.datatype.liquid"
              }
            },
            "runAfter": {
              "Retrieve_message_payload_from_storage": [
                "SUCCEEDED"
              ]
            }
          },
          "Write_message_payload_to_storage": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "containerName": "demoworkload",
                "blobName": "@{variables('correlationId')}_prc_targetsystem_messagetype_@{utcNow('yyyyMMddTHHmmss')}.json",
                "content": "@body('Transform_source_data_type_to_target_data_type')",
                "overrideIfExists": "true"
              },
              "serviceProviderConfiguration": {
                "connectionName": "AzureBlob",
                "operationId": "uploadBlob",
                "serviceProviderId": "/serviceProviders/AzureBlob"
              }
            },
            "runAfter": {
              "Transform_source_data_type_to_target_data_type": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "Initialize_variable_errorMessage": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "Receive_new_claim-check_message_from_queue": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "queueName": "sbq-targetsystem-datatype-sourcesystem-prc",
            "isSessionsEnabled": false
          },
          "serviceProviderConfiguration": {
            "connectionName": "serviceBus",
            "operationId": "peekLockQueueMessages",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "splitOn": "@triggerOutputs()?['body']"
      }
    }
  },
  "kind": "Stateful"
}